# Text editor stuff
*.bak
*~
\#*\#
.\#*

# python byte code
*.pyc

# virtual environment
env/
requirements_freeze.txt

# Setuptools
/dist/
/*.egg-info

# images / videos
*.jpg
*.avi

# runs folders
runs/*
!runs/0
